.vscode/*
.mine/*
mine/data/input/input.txt
mine/data/output/output.txt
mine/data/network/testdata.network
mine/data/network/testdata1.network
mine/data/network/testdata2.network
mine/data/network/testdata4.network
mine/data/network/testdata5.network
mine/data/network/testdata6.network
mine/data/network/testdata7.network
mine/data/network/testdata3.network
